<%= render 'shared/errors', obj: @article %>

<%= form_for @article do |f| %>
  <div class="mb-3">
    <%= f.label :title, :class => "form-label" %>
    <%= f.text_field :title, :class => "form-control", autofocus: true, placeholder: "Title of an article" %>
  </div>
  <div class="mb-3">
    <%= f.label :description, :class => "form-label" %>
    <%= f.text_area :description, :class => "form-control", :rows => "5", placeholder: "Description" %>
  </div>
  <%= f.submit :class => "btn btn-primary" %>
<% end %>
