<h1><%= @category.name %> (<%= pluralize(@category.articles.count, "article") %>) </h1>
<div class="d-flex justify-content-center">
  <%= will_paginate(@category_articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center') %>
</div>
<%= render 'articles/article', obj: @category.articles %>

<%= link_to "Back to articles", articles_path, class: "btn btn-secondary mt-2" %>
